/* /======================================================================================================/ */
html {
    scroll-snap-type: y mandatory;
}

body {
    scroll-snap-type: y mandatory;
}
/* /======================================================================================================/ */
.tudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* /======================================================================================================/ */
/* /----------------------------------------------------------/ */
.carrossel {
    margin-top: -8px;
}

#comentario{

}

textarea{
    border: 0.5px solid #999999;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    resize: none;
    width: 90%;
}

#comentar{ 
    
    padding: 10px;
    border-radius: 10px;
}

#comentar > button{ 
    float: right;
    width: 90px;
    background-color: #F0F0F0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0.5px solid #999999;
    padding: 20px;
    font-size: 20px;
}

#comentar > button:hover{ 
    float: right;
    width: 90px;
    background-color: #f0f0f010;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0.5px solid #999999;
    padding: 20px;
    font-size: 20px;
}


.titulo {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 78%;
    left: 0%;
}

#titulo_campanha {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 700;
    margin: 0px;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgba(198, 198, 198, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1));

}

.carrossel img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* /----------------------------------------------------------/ */
.info_campanha {
    width: 1200px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.titulo_info:not(:first-child) {
    margin-top: 30px;
}

.b {
    /* background-image: url(../assets/img/tinta\ jogada.png);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 220px;
    padding: 20px; */
}

.titulo_info {
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
    font-size: 25px;


}

.info_c {
    text-align: center;
    font-size: 20px;
}



/* /----------------------------------------------------------/ */
.parceiro_pagamento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    margin-bottom: 30px;
}

.parceiros {
    padding: 23px;
    background-color: rgb(237, 237, 237);
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    border-radius: 5.5px;
    width: 760px;
    min-height: 350px;
}

/* /----------------------------------------------------------/ */
.pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

}

.caixa_de_doar {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(237, 237, 237);
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    border-radius: 5.5px;

    width: 370px;
    height: 350px;
}

.caixa_de_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    width: 200px;
    height: 200px;
}

.qrcode_img {
    width: 200px;
    height: 200px;
}

.xxx {
    display: flex;
    /* background-color: aqua; */
}

#quantidade_doada {
    width: 150px;
    border: 0px;
    border-radius: 5px;
}

.doar_btns {
    /* display: flex; */

}
.btn_doar {
    font-size: 20px;
    margin-top: 17px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-right: 10px;
}
.btn_abrir_qr {
    font-size: 20px;
    margin-top: 17px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.btn_doar:hover, .btn_abrir_qr:hover {
    background-color: white;
} 

.btn_denunciar {
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(243, 129, 129);
}

.btn_doar:hover,
.btn_denunciar:hover {
    cursor: pointer;
    /* background: linear-gradient(to right, rgb(255, 114, 114), red); */
}

/* /----------------------------------------------------------/ */

.titulo_info {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 15px;
    /* background-color: white; */
}

.parceiro_dados {
    display: flex;
    flex-direction: row;

}

.img_parceiro {
    width: 165px;
    height: 165px;
    border-radius: 10px;
    margin-right: 15px;
}

.info_parceiro {
    padding: 5px;
    width: 70%;

}

.info_p {
    margin-bottom: 10px;
    font-size: 15px;

    padding-left: 8px;
}

.direita_meio {
    display: flex;
    justify-content: center;
}

.box_valor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 98%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(124, 194, 20);
    box-shadow: 3px 5px 15px rgb(0, 0, 0);
    border-radius: 10px;
}

.metas {
    margin: 0px;
}

/* /----------------------------------------------------------/ */

#comentarios {
    display: flex;
    flex-direction: column;

    background-color: rgb(237, 237, 237);
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    border-radius: 5.5px;

    margin-left: 77px;
    width: 1165px;
    height: 500px;
    overflow: auto;

    padding: 15px ;
    margin-bottom: 50px;
}

.cmt_titulo {
    /* border-left: 500px; */
    position: sticky;
    top: -15px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    background-color: rgb(237, 237, 237);
    padding:  20px 10px;

}

.caixa_comentario {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    border-radius: 6px;
}

.nome_usuario {
    margin-left: 25px;
    margin-bottom: 5px;
}

.img_cmt {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    width: 90%;
}

.img_perfil {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.comentario {
    background-color: aliceblue;
    margin: 0px;
    margin-left: 15px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.entrada_comentario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    margin-top: 290px;
    width: 32.8%;
}

.entrada {
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 15px rgb(0, 0, 0);
    width: 100%;
}

.btn_confirma_envio {}

/* /----------------------------------------------------------/ */
/* /======================================================================================================/ */
/* /======================================================================================================/ */