h2 {
    margin: 0;
    width: fit-content;
    padding: 10px;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;  
    margin:1% 5%;
}
.form-section{
    background-color: rgba(169, 169, 169, 0.698);
    padding: 40px;
    border-radius: 15px;
}
.form-section-image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(169, 169, 169, 0.698);
    padding: 40px;
    border-radius: 15px;
}
.Dados{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.Imagem{
    width: 50%;
    margin-right: 10%;
}
.nomeParceiro{
    text-align: center;
    flex-grow: 1;
}

.botaoDeletar{
    margin-right:10% ;
}

.form-section > input{
    border-radius: 8px;
    border: 0.5px solid #999999;
    background-color: #F0F0F0;
    width: 100%;
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    
}

.Dados > input{
    border-radius: 8px;
    border: 0.5px solid #999999;
    background-color: #F0F0F0;
    width: 100%;
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    
}

.Imagem > input{
    border-radius: 8px;
    border: 0.5px solid #999999;
    background-color: #F0F0F0;
    width: 100%;
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    
}

.Objetivo{
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    padding: 10px;
}

textarea{
    border: 0.5px solid #999999;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    resize: none;
    width: 100%;
}



.imgPreview {
    width: 300px; /* Largura desejada */
}

.imgPreview img {
    width: 100%; /* Faz com que a imagem ocupe 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaço extra abaixo da imagem */
}

.Dados > button{
    float: right;
    width: 200px;
    background-color: #F0F0F0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0.5px solid #999999;
    padding: 20px;
    font-size: 20px;
}

.Dados > button:hover{
    width: 200px;
    color: #F0F0F0;
    background-color: #676666;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0.5px solid #999999;
    padding: 20px;
}



#foto{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Estilos padrão para telas maiores que 768 pixels */

/* Media query para telas menores ou iguais a 768 pixels */
@media only screen and (max-width: 1535px) {
    .form-container {
        display: flex;
        flex-direction: column;  
        margin:1% 5%;
        align-items: center;
    }
    .form-section{
        margin-bottom:50px;
    }

}

