*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    margin: 0;
    align-items: center;
    height: auto;
    color: #000000;    
}

p{
    color: #000000fe;
    margin-top: 10px;
    margin-bottom: 0px;
}

.doacao{
    border-left: 0.5px solid #000;    
    padding: 20px;
    width: 60%;
    max-height: 800px;
    min-height: 800px;
    overflow-y: auto;
    margin-top: 0px;
}
.doacao h2{
    text-align: center;
}
.dados{
   margin: 5%;
   margin-top: 0;
   
}

.sectionAlterarDados {
    border: 0.5px solid #000; /* Define a cor da borda */
    background-color: #807f734d; /* Define a cor de fundo */
    padding: 20px; /* Define o espaçamento interno */
    border-radius: 20px;
}

.sectionDados {
    margin: 20px 1px;
    border: 0.5px solid #000; /* Define a cor da borda */
    background-color: #807f734d; /* Define a cor de fundo */
    padding: 20px; /* Define o espaçamento interno */
    border-radius: 20px;
}

.botaoAlterar{
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    display: flex;
    font-size: 16px;
}
.botaoAlterar:hover{
    color: #ffffff;
    background-color: #33333387;
}

input{
    border-radius: 8px;
    border: 0.5px solid #999999;
    background-color: #F0F0F0;
    width: 300px;
    padding: 8px;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 10px;
    text-align:justify;
    border-radius: 18px;
    width: 300px;
    height: 170px;
    margin: 20px 20px;
   
}
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .card h2{
    font-size: 18px;

  }
  
  .card p {
    font-size: 16px;
  }